<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="Stylesheet" href="@Href("~/Content/sidebar.css")" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="home" viewBox="0 0 16 16">
            <title>home</title>
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
        </symbol>

        <symbol id="bug" viewBox="0 0 16 16">
            <title>bug</title>
            <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z" />
        </symbol>
    </svg>
    <main>
        <div class="flex-shrink-0 p-2 bg-white" style="width: 320px;">
            <p class="align-items-center pb-2 fs-4 text-center mb-3 border-bottom">
                <a class="text-decoration-none link-dark" href="/">vuln-net*</a>
            </p>

            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#injection-collapse" aria-expanded="false">
                        Injections
                    </button>
                    <div class="collapse" id="injection-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>@Html.ActionLink("SQL Injection", "Index", "SqlInjection", new { area = "" }, new { @class = "link-dark rounded active" })</li>
                            <li>@Html.ActionLink("Os Command Injection", "Index", "OsCommandInjection", new { area = "" }, new { @class = "link-dark rounded" })</li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#request-forgery-collapse" aria-expanded="false">
                        Request Forgery Attacks
                    </button>
                    <div class="collapse" id="request-forgery-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>@Html.ActionLink("Cross-Site Reqeust Forgery", "Index", "CrossSiteRequestForgery", new { area = "" }, new { @class = "link-dark rounded" })</li>
                            <li>@Html.ActionLink("Server Side Reqeust Forgery", "Index", "ServerSideRequestForgery", new { area = "" }, new { @class = "link-dark rounded" })</li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#general-web-vulnerabilities-collapse" aria-expanded="false">
                        General Web Vulnerabilities
                    </button>
                    <div class="collapse" id="general-web-vulnerabilities-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>@Html.ActionLink("Regular Expression DOS", "Index", "RegularExpression", new { area = "" }, new { @class = "link-dark rounded" })</li>
                            <li>@Html.ActionLink("Insecure Deserialization", "Index", "InsecureDeserialization", new { area = "" }, new { @class = "link-dark rounded" })</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="b-example-divider"></div>

        <div class="overflow-auto">
            @RenderBody()
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="@Href("~/Scripts/sidebar.js")"></script>
</body>
</html>
